header {
  display: block;
  text-align: center;
  margin: 50px;
  font-family: "Marko One", serif;
  color: white;
}
.app-footer {
  text-align: center;
  margin: 100px 0;
  color: white;
}
.app-footer a {
  color: #e4b9b9;
}
