.Phonetic {
  height: 45px;
}

.Phonetic a {
  border: 1px solid;
  text-decoration: none;
  padding: 5px 13px;
  border-radius: 20px;
  color: rgb(151, 21, 138);
  transition: all 150ms ease-in-out;
  font-size: 15px;
  margin-right: 10px;
}
.Phonetic a:hover {
  background: rgb(4, 119, 4);
  color: white;
}
.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
