.Photos img {
  border-radius: 5px;
  margin-bottom: 10px;
}
.Photos img:hover {
  filter: brightness(1.5);
  transform: scale(2);
}
@media (max-width: 800px) {
  .Photos img:hover {
    transform: scale(1.3);
  }
}
